[submodule ".registry"]
	path = .registry
	url = https://github.com/yabellini/universe
	shallow = true
	branch = HEAD
[submodule "learnr"]
	path = learnr
	url = https://github.com/rstudio/learnr
	shallow = true
	registered = true
[submodule "agromet"]
	path = agromet
	url = https://github.com/AgRoMeteorologiaINTA/agromet
	shallow = true
	registered = true
[submodule "siga"]
	path = siga
	url = https://github.com/AgRoMeteorologiaINTA/siga
	shallow = true
	registered = true
[submodule "sisintar"]
	path = sisintar
	url = https://github.com/INTA-Suelos/SISINTAR
	shallow = true
	registered = true
[submodule "learnres"]
	path = learnres
	url = https://github.com/yabellini/learnres
	shallow = true
	registered = true
[submodule "tutorialiterar"]
	path = tutorialiterar
	url = https://github.com/yabellini/TutorialIterar
	shallow = true
	registered = true
[submodule "textminingtutorial"]
	path = textminingtutorial
	url = https://github.com/yabellini/TextMiningTutorial
	shallow = true
	registered = true
[submodule "tutorialgraficosfn"]
	path = tutorialgraficosfn
	url = https://github.com/yabellini/tutorialgRaficosFN
	shallow = true
	registered = true
